
.ba-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    padding-top: 20px;
    z-index: 2;

    @media screen and (min-width: 991px) {
        position: absolute;
        width: 100%;

        &-nav {
            margin-left: 130px;
        }
    }
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;

        @media screen and (max-width: 991px) {
            justify-content: space-between;
        }
    }
    @media screen and (max-width: 991px) {
        background-color: #b8a47e;
        padding-top: .5rem;
        padding-bottom: .5rem;
        
    }

    .ba-logo {
        display: block;
        position: relative;

        &::before {
            content: '';
            width: 162px;
            height: 162px;
            background-color: #b8a47e;
            border-radius: 50%;
            z-index: -1;
            position: absolute;
            top: -125%;
            left: -19%;

            @media screen and (max-width: 991px) {
                content: none;
            }
        }
    }
}
.ba-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    &__link {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;

        @media screen and (max-width: 991px) {
            color: #fff;
        }
    }


    &__item:nth-child(n+3) a {
        color: #fff;
    }

    
    @media screen and (min-width: 991px) {
        &__item + &__item {
            margin-left: 73px;
        }

        &__link::before, &__link::after {
            content: '';
            transition: 1s ease;
        }

        &__link:hover::before {
            content: '';
            width: 28px;
            height: 2px;
            background-color: #b8a47e;
            position: absolute;
            top: .5em;
            left: -39px;
        }
        &__link:hover::after {
            content: '';
            width: 8px;
            height: 8px;
            background-color: #b8a47e;
            border-radius: 50%;
            position: absolute;
            top: .3em;
            right: -13px;
        }
    }

    &-btn {
        padding: 10px;
        border: none;
        background-color: #000;
        position: relative;
        z-index: 5;
    }

    @media screen and (max-width: 991px) {
        &-block {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .7;
            transform: translateX(100%);
            z-index: 5;
            transition: 1s;
    
            .ba-menu {
                flex-direction: column;
    
                &__item {
                    line-height: 50px;
                }
            }
        }
    }

    
}
.active {
    transform: translateX(0);
}

.ba-hero {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    @media screen and (min-width: 991px) {
        min-height: 527px;
    }


    &__slide {
        
        display: flex !important;
        align-items: center;
        background-image: url(../img/slider-slide-1.jpg);

        @media screen and (min-width: 991px) {
            min-height: 527px;
            background-repeat: no-repeat;
            background-position-x: 125%;

            &-wrapper {
                padding-left: 17.1386%;
            }
        }


        @media screen and (max-width: 991px) {
            min-height: 500px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            &-wrapper {
                text-align: center;
            }
        }
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .slick-dots {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 0;
        left: 0;
        width: 115px;


        & li {
            margin: 15px 0 0 0;
        }

        & li button {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-size: 1rem;
            padding: 0;
            color: #878787;
    
            &::before {
                content: '';
            }
        }

        & li.slick-active {
            height: 55px;
            width: 55px;
        }

        & li.slick-active button {
            height: 55px;
            width: 55px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 2rem;
            background-color: #fff;
            border-radius: 50%;
            color: #000;
            box-shadow: 0px 1px 15px 0px #000;
            
        }
    }

    .dots-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-18%);
        display: flex;
        align-content: flex-start;

        @media screen and (max-width: 991px) {
            display: none;
        }
    }

    .slick-next {
        top: 179px;
        left: 62px;

        @media screen and (max-width: 991px) {
            left: calc(100% - 40px);
            top: 100%;
            transform: translateY(-100%);
            background-color: #000;
            width: 40px;
            height: 40px;
        }

        &::before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid #b8a47e;
            border-left: 2px solid #b8a47e;
            transform: rotate(-45deg);
            position: relative;
            left: 4px;
            bottom: 3px;

            @media screen and (max-width: 991px) {
                & {
                    content: '';
                    display: block;
                    top: 0px;
                    left: 6px;
                    width: 20px;
                    height: 20px;
                    transform: rotate(225deg);
                }
            }
        }

        &::after {
            content: '';
            display: block;
            width: 2px;
            height: 30px;
            background-color: #b8a47e;
            position: absolute;
            left: calc(50% - 1px);
            top: 20px;
            pointer-events: none;

            @media screen and (max-width: 991px) {
                display: none;
            }
        }
    }

    .slick-prev {
        left: 62px;
        top: 152px;
        z-index: 2;

        @media screen and (max-width: 991px) {
            left: calc(100% - 90px);
            top: 100%;
            transform: translateY(-100%);
            background-color: #000;
            width: 40px;
            height: 40px;
        }

        &::before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid #b8a47e;
            border-left: 2px solid #b8a47e;
            transform: rotate(135deg);
            position: relative;
            left: 4px;
            bottom: 3px;

            @media screen and (max-width: 991px) {
                & {
                    content: '';
                    display: block;
                    top: 0px;
                    left: 12px;
                    width: 20px;
                    height: 20px;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .slick-next:hover::before, .slick-prev:hover::before {
            content: '';
            transition: 1s;
            border-color: #000;

            @media screen and (max-width: 991px) {
                border-color: #b8a47e;
            }
    }
}



.ba-slide{

    &__title--small {
        font-size: 1rem;
    }

    &__title--big{
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 2.25rem;
        letter-spacing: 0.6013rem;
        line-height: 5rem;
        text-transform: uppercase;

        @media screen and (max-width: 991px) {
            font-size: 1.8rem;
            line-height: 2.5rem;
        }
    }

    &__link {
        font-size: 1rem;
        color: #b8a47e;
        text-decoration: none;
        position: relative;
        margin-left: 116px;

        &::before {
            content: '';
            width: 28px;
            height: 2px;
            background-color: #b8a47e;
            position: absolute;
            top: .5em;
            left: -39px;
        }

        &::after {
            content: '';
            width: 6px;
            height: 6px;
            border-right: 2px solid #b8a47e;
            border-bottom: 2px solid #b8a47e;
            position: absolute;
            top: .3em;
            right: -18px;
            transform: rotate(-45deg);
        }

        @media screen and (max-width: 991px) {
            margin: 0;
            color: #000;

            &::before {
                background-color: #000;
            }

            &::after {
                border-right: 2px solid #000;
                border-bottom: 2px solid #000;
            }
        }
    }
}
.ba-section-models {
    position: relative;

    @media screen and (min-width: 991px) {
        padding-top: 145px;
        padding-bottom: 30px;
    }

    .ba-models-header {
        background-image: url(../img/img_1.jpg);
        position: relative;

        @media screen and (max-width: 991px) {
            min-height: 400px;
            background-position-x: 30%;
        }
        @media screen and (min-width: 991px) {
            min-height: 425px;
            background-position-x: -10%;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .ba-models-header {
        position: relative;

        @media screen and (min-width: 991px) {
            display: flex;
            align-items: center;
        }
        @media screen and (max-width: 991px) {
            padding-top: 20px;
        }

        &__title {

            @media screen and (max-width: 991px) {
                color: #fff;
                margin: 0 0 50px 0;
                display: inline-block;
            }
            @media screen and (min-width: 991px) {
                display: inline-block;
                position: absolute;
                top: 40%;
                right: 0;
                left: 0;
                margin: 0 auto;
                text-align: center;
                width: 460px;
                z-index: 5;
            }
            
            &--big {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;

                @media screen and (max-width: 991px) {
                    font-size: 1.9rem;
                    letter-spacing: 0.2rem;
                }
                @media screen and (min-width: 991px) {
                    font-size: 2rem;
                    letter-spacing: 0.5rem;
                    color: #fff;
                }
            }

            &--small {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 1rem;
                text-align: right;
                color: #fff;
            }
        }

        &__text-wrapper {
            border: 2px solid #b8a47e;

            @media screen and (max-width: 991px) {
                width: 100%;
                padding: 20px;
                background-color: rgba(255, 255 , 255, .3);
            }
            @media screen and (min-width: 991px) {
                width: 48.8%;
                padding: 30px;
                margin-left: auto;
            }
        }

        &__text {
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: 400;
            margin: 0;

            @media screen and (max-width: 991px) {
                font-size: .9rem;
                line-height: 2rem;
                text-align: center;
                color: #fff;
            }
            @media screen and (min-width: 991px) {
                font-size: .9rem;
                line-height: 2rem;
                color: #a7a7a7;
                width: 55%;
                text-align: left;
                margin-left: auto;
            }
        }
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    @media screen and (max-width: 991px) {
        .models-dots-wrapper {
            display: none;
        }
    }
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 0;
        left: 0;
        


        & li {
            margin: 20px 15px 0 0;
        }

        & li button {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-size: 1rem;
            padding: 0;
            color: #878787;
    
            &::before {
                content: '';
            }
        }

        & li.slick-active {
            height: 55px;
            width: 55px;

            & button::before {
                content: '';
                height: 20px;
                width: 1px;
                background-color: #000;
                top: -20px;
                left: 50%;
            }
        }

        & li.slick-active button {
            height: 55px;
            width: 55px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 2rem;
            background-color: #fff;
            border-radius: 50%;
            color: #000;
            box-shadow: 0px 1px 15px 0px #000;
            
        }
    }

    .slide-next, .slide-prev {
        font-size: 0;
        position: absolute;
        bottom: 49px;
        background-color: transparent;
        border: none;
        outline: none;
    }

    .slide-next {
        left: calc(50% + 80px);

        @media screen and (max-width: 991px) {
            left: calc(100% - 40px);
            top: 100%;
            transform: translateY(-100%);
            background-color: #000;
            opacity: .6;
            width: 40px;
            height: 40px;
        }

        &::before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid #b8a47e;
            border-left: 2px solid #b8a47e;
            transform: rotate(225deg);
            position: relative;
            left: -2px;

            @media screen and (max-width: 991px) {
                & {
                    content: '';
                    display: block;
                    top: 0px;
                    width: 20px;
                    height: 20px;
                    transform: rotate(225deg);
                }
            }
        }
    }

    .slide-prev {
        left: calc(50% - 120px);

        @media screen and (max-width: 991px) {
            left: calc(100% - 90px);
            top: 100%;
            transform: translateY(-100%);
            background-color: #000;
            opacity: .6;
            width: 40px;
            height: 40px;
        }

        &::before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid #b8a47e;
            border-left: 2px solid #b8a47e;
            transform: rotate(45deg);
            position: relative;
            left: 2px;

            @media screen and (max-width: 991px) {
                & {
                    content: '';
                    display: block;
                    top: 0px;
                    left: 10px;
                    width: 20px;
                    height: 20px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}
.ba-models-slider {
    position: relative;
    @media screen and (min-width: 991px) {
        padding-top: 180px;
        .slick-track {
        height: 320px;
        display: flex;
        align-items: flex-end;
    }

        .slick-slide {
            height: 200px;
        }

        .slick-slide.slick-current {
            height: 320px;
            width: 430px;
            transition: 1s;

            .slide-hidden {
                opacity: 1;
                transition: 5s;
            }

            .ba-models__slide {
                height: 320px;
            }
        }
    } 
    @media screen and (max-width: 991px) {
        .slick-slide.slick-current {

            .slide-hidden {
                transition: 5s;
                opacity: 1;
            }
        }
    }
    @media screen and (min-width: 991px) {
        .slick-slide {
            padding: 0 15px;
            width: 315px;
        }
    }
}
.ba-models__slide {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: relative;
    background-color: #faf7f1;
    z-index: -2;

    @media screen and (max-width: 991px) {
        height: 300px;
    }

    @media screen and (min-width: 991px) {
        height: 200px;
    }
    .ba-slide {

        &__price-wrapper {
            border: 3px solid #000;
            position: absolute;
            z-index: -1;
    
            @media screen and (max-width: 991px) {
                width: 250px;
                height: 170px;
                top: 20px;
                left: 0;
                right: 0;
                margin: 0 auto;
                transform: translateX(-25%);
                padding: 15px;
            }

            @media screen and (min-width: 991px) {
                width: 450px;
                height: 170px;
                top: 20px;
                left: -115px;
                padding: 25px;
            }
        }
    
        &__image {
                height: 100%;
                width: auto;
    
            @media screen and (max-width: 991px) {
                object-position: 60px 0;
            }
            
        }
        
        &__price {

            @media screen and (max-width: 991px) {
                font-size: 2rem;
                letter-spacing: 0.1rem;
            }

            @media screen and (min-width: 991px) {
                font-size: 2.2rem;
                letter-spacing: 0.5rem;
            }
        }

        &__buy {
            display: block;
            text-transform: uppercase;
            text-decoration: none;
            color: #878787;
            position: relative;

            &::before {
                content: '';
                display: block;
                width: 25px;
                height: 3px;
                background-color: #878787;
                position: absolute;
                top: .5em;
                left: 50px;
            }
            &::after {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-right: 3px solid #878787;
                border-bottom: 3px solid #878787;
                position: absolute;
                top: .2em;
                left: 63px;
                transform: rotate(-45deg);
            }

            @media screen and (max-width: 991px) {
                margin: 30px 0 0 50px;
            }
            @media screen and (min-width: 991px) {
                margin: 40px 0 0 140px;
            }
        }
    }
    
}
.slide-hidden {
    @media screen and (max-width: 991px) {
        transition: 1s;
    }
    
    opacity: 0;
}
.fas {
    font-family: "FontAwesome";
    font-size: 1rem;
    font-style: normal;
    color: #fff; 
}
